
  <body >
    <div class="container">
   <form [formGroup]=setSta>
         <div class="form-group">
         	<label>Documet Id:</label>
         	<input type="number" name="docid"  formControlName="docid" class="form-control">
         </div>
         <div >
         	<label>Status:</label>
         	<input type="text" name="Status"  formControlName="sta" class="form-control">
         </div>	
         <div >
         	<label>Remark:</label>
         	<input type="text" name="remark"  formControlName="remar" class="form-control">
         </div>
         <pre>
         </pre>
         <div>
         	<button type="submit"   formControlName="submit" class="form-control;btn btn-success" >Set Status</button>
         </div>
 </form>
 </div>
  </body>       
